<footer class="app-footer">

    <div class="ml-auto">
      <span>&copy; 2018 DimensionData.</span>
    </div>
  </footer>
  <!-- Bootstrap and necessary plugins-->
  <script src="../vendor/jquery/dist/jquery.min.js"></script>
  <script src="../vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../vendor/pace-progress/pace.min.js"></script>
  <script src="../vendor/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
  <script src="../vendor/@coreui/coreui/dist/js/coreui.min.js"></script>
